body {
  text-align: center;
  background-color: #a7edfe;
  color: rgb(6, 6, 197);
  font-family: "Roboto Slab", serif;
}
.one {
  display: inline-block;
}
.forecast {
  padding: 10px 20px;
  margin-left: 190px;
}
h1 {
  color: rgb(6, 6, 197);
  font-size: 45px;
}
#now {
  color: rgb(6, 6, 197);
  font-size: 25px;
  margin-top: 0px;
}
h3,
h4 {
  color: rgb(11, 11, 90);
}
form-control {
  padding: 8px;
  font-size: 30px;
}
li {
  font-size: 25px;
  list-style: none;
}
p{
    font-size: 25px;
}
img {
  width: 150px;
}
.wind {
  text-align: end;
}
.col-2 {
  text-align: center;
}
.odessa {
  text-align: left;
}
#description {
  font-size: 40px;
}
h2 {
  font-size: 35px;
}
h4 {
  margin-top: 15px;
  font-size: 25px;
}
.btn-warning {
  display: block;
  margin: 9px auto;
  padding: 8px 16px;
  box-shadow: 2px 2px rgb(15, 186, 253);
}
img {
  width: 200px;
}
.dubai {
  margin-top: 15px;
}
.newyork {
  margin-top: 15px;
}
.london {
  margin-top: 15px;
}
a {
  color: rgb(11, 11, 90);
  font-size: 20px;
}